<div class="col-md-4">
  <%= link_to "#" do %>
    <div class="card m-1 shadow bg-warning">
      <%= image_tag("/yaoya.png", class:"card-img-top") %>
      <div class="card-body">
        <p class="card-text font-weight-light text-white text-center shop-name"><%= shop.name %></p>
      </div>
    </div>
  </div>
<% end %>
