<%= render "shared/header"%>
<div class="container my-3">
  <div class="alert alert-success" role="alert">
    作成しました
  </div>
    <div class = "text-center">
    <%= link_to '店舗ページへ', shop_items_path(@shop) ,class: "btn btn-light mx-auto" %>
  </div>
</div>
<%= render "shared/second-footer"%>
