<%= render "shared/header"%>
<div class="container my-3">
  <p class="h4 font-weight-bold text-center">店舗の情報を変更</p>
  <div>
    <%= render partial: "form" %>
  </div>
</div>
<%= render "shared/second-footer"%>
