<%= render "shared/header"%>
<div class="container my-3">
  <div class="row">
    <% 12.times do %>
    <div class="col-md-4">
      <div class="card m-1 shadow bg-warning">
        <%= image_tag("/yaoya.png", class:"card-img-top") %>
        <div class="card-body">
          <p class="card-text font-weight-light text-white">これは写真の解説文付きのカードです。自然に説明を加えることができます。しかしこの文章は少し長いかもしれません。</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer"%>
