<%= render "shared/second-header"%>

<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap alert-primary'>
  <div class='form-header'>
    <div class='font-wight-bold h1 py-5'>
      一般ユーザーログイン
    </div>
  </div>
  <%= render partial: "shared/session_form" ,locals: { f: f } %>

</div>
<% end %>

<%= render "shared/second-footer"%>
