<div class='footer container-fluid pb-1'>
  <div class='footer-contents row'>
    <div class='col-md-3'>
      <h2 class='footer-content-head'>会社・規約・ポリシー</h2>
      <ul>
        <li class="footer-link">会社概要（運営会社)</li>
        <li class="footer-link">プライバシーポリシー</li>
        <li class="footer-link">ZaiCoCCo利用規約</li>
        <li class="footer-link">ポイントに関する特約</li>
      </ul>
    </div>
    <div class='col-md-3'>
      <h2 class='footer-content-head'>ZaiCoCCoを見る</h2>
      <ul>
        <li class="footer-link">カテゴリー一覧</li>
        <li class="footer-link">店舗一覧</li>
      </ul>
    </div>
    <div class='col-md-3'>
      <h2 class='footer-content-head'>ZaiCoCCoについて</h2>
      <ul>
        <li class="footer-link">ZaiCoCCoガイド</li>
        <li class="footer-link">ZaiCoCCoロゴ利用ガイドライン</li>
        <li class="footer-link">お知らせ</li>
      </ul>
    </div>
  </div>
  <p>© ZaiCoCCo</p>
</div>
