<%= render "shared/header"%>
<div class="container my-3">
  <div class="col-md-10 mx-auto">
    <p class="font-weight-bold h4 my-3">「<%= "#{@keyword}" %>」の検索結果</p>
    <% if @items.present? %>
      <div hidden id="items_empty">当てはまる商品はありません。</div>
      <table class="table table-hover", id="items_table">
    <% else %>
      <div id="items_empty">商品はありません。</div>
      <table hidden class="table table-hover", id="items_table">
    <% end %>
        <thead>
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">値段</th>
            <th scope="col">在庫数</th>
            <th scope="col">店舗</th>
          </tr>
        </thead>
        <tbody id="items">
          <%= render partial: "item_search" ,collection:  @items%>
            <%# -----追加時クローン用------ %>
          <tr hidden id = "item-#clone_index">
              <td id ="item_name_index-#clone"></td>
              <td id ="item_price_index-#clone"></td>
              <td id ="item_count_index-#clone"></td>
          </tr>
            <%# -----追加時クローン用------ %>
        </tbody>
      </table>
  </div>
</div>
<%= render "shared/second-footer"%>
